{% extends "simple_base.html" %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}" style="margin-right: 3rem;">Tomas Rigaux</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% set navigation_bar = [
                ('publications', 'Publications'),
                ('algo', 'Algorithmics'),
                ('cv', 'CV'),
            ] %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% for id, caption in navigation_bar %}
                        <li class="nav-item">
                            <a class="nav-link{% if request.path == url_for(id) %} active{% endif %}" href="{{ url_for(id) }}">{{ caption }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block main %}
<main>
    <div class="sidebar container">
        <div class="author_avatar">
            <img src="{{ url_for('static', filename='aku.png') }}" class="author_avatar" alt="Tomas Rigaux">
        </div>
        <div class="author_content">
            <h3>Tomas Rigaux</h3>
            <p>PhD Student at <a href="http://www.ml.ist.i.kyoto-u.ac.jp/en/">Kashima Lab</a>, Kyoto University</p>
        </div>
        <div class="author_urls">
            <ul>
                <li>
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                    Kyoto, Japan
                </li>
                <!-- <li>
                    <a href="https://twitter.com/replacethistwitterhandle">
                        <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>
                        Twitter
                    </a>
                </li> -->
                <li>
                    <a href="https://github.com/akulen">
                        <i class="fab fa-fw fa-github" aria-hidden="true"></i>
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://scholar.google.com/citations?hl=en&user=ZHOsepEAAAAJ">
                        <i class="fas fa-fw fa-graduation-cap"></i>
                        Google Scholar
                    </a>
                </li>
                <!-- <li>
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow">
                        <i class="ai ai-pubmed-square ai-fw"></i>
                        PubMed
                    </a>
                </li>
                <li>
                    <a href="http://orcid.org/yourorcidurl">
                        <i class="ai ai-orcid-square ai-fw"></i>
                        ORCID
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="page container">
        {% block body %}{% endblock %}
    </div>
</main>
{% endblock %}

{% block footer %}
<footer></footer>
{% endblock %}
