{% extends "base.html" %}

{% block title %}Tomas Rigaux{% endblock %}

{% block body %}
    <p>
    I am a first year PhD Student at Kyoto University, in the <a href="http://www.ml.ist.i.kyoto-u.ac.jp/en/">Kashima Lab</a>.
    </p>
    <p>
    My research topics include algorithmics, graph theory, and (generative) machine learning.
    </p>
    <p>
    I am also a member of the associated Inria team <a href="https://jilljenn.github.io/red/">RED</a> (Recommendations Encouraging Diversity).
    </p>
{% endblock %}
