{% extends "simple_base.html" %}

{% block title %}Cube - {{ cube_name }}{% endblock %}

{% from "macros.html" import deck_gallery %}

{% block main %}
{% for card in cards %}
<a href="{{ card.link }}"><img src="{{ card.link }}" style="width: 100px;"></a>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js">
</script>
<script>
const options = {
	size: 'lg'
};

document.querySelectorAll(Lightbox.defaultSelector).forEach((el) => {
    el.removeEventListener('click', Lightbox.initialize);
    el.addEventListener('click', (e) => {
        e.preventDefault();
        const lightbox = new Lightbox(el, options);
        lightbox.show();
    });
});
</script>
{% endblock %}
