{% extends "base.html" %}

{% block subtitle %}Stable Diffusion{% endblock %}

{% from "macros.html" import gallery %}

{% block body %}
    <h1>Stable Diffusion</h1>
    <p>
    Experiments with Stable Diffusion
    </p>

    <h3>New logo</h3>
    <p>
    Attempts to inspire/make a new logo. Kagamine Rin should be Kagamine Len, but Anything V3 can't figure out the difference.
    </p>

{{ gallery("newLogo", [
     url_for('static', filename='sd/logo_spiky.png'),
     url_for('static', filename='sd/logo_rough_sketch.png'),
     url_for('static', filename='sd/logo_two_rins.png'),
     url_for('static', filename='sd/logo_bunched.png'),
]) }}

    <h3>Backgrounds</h3>
    <p>
    Generated backgrounds
    </p>

{{ gallery("backgrounds", [
     url_for('static', filename='sd/bg_cat_pilot.png'),
     url_for('static', filename='sd/bg_misaka_miko.png'),
]) }}
{% endblock %}

{% block extrabody %}
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js">
</script>
<script>
const options = {
	size: 'lg'
};

document.querySelectorAll(Lightbox.defaultSelector).forEach((el) => {
    el.removeEventListener('click', Lightbox.initialize);
    el.addEventListener('click', (e) => {
        e.preventDefault();
        const lightbox = new Lightbox(el, options);
        lightbox.show();
    });
});
</script>
{% endblock %}
